<footer>
    <div class="grid md:grid-cols-3 bg-black text-white p-5p">
        <!-- column -->
        <div class="mt-8">
        <h2 class=""> Logo </h2>
        <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="hidden md:block mt-8"></div>
        <!-- column -->
        <div class="mt-8 grid grid-rows-2">
        <nav class="inline place-self-end items-center">
            <a href="#" class="p-2 "> Lorem ipsum </a>|
            <a href="#" class="p-2"> Dolor sit </a>|
            <a href="#" class="p-2"> Consectetur </a>
        </nav>
        <nav class="inline place-self-end items-center mt-4">
            <a href="#" class="p-2">
            <i class="fab fa-facebook fa-xl"></i>
            </a>
            <a href="#" class="p-2">
            <i class="fab fa-instagram fa-xl"></i>
            </a>
            <a href="#" class="p-2">
            <i class="fab fa-snapchat fa-xl"></i>
            </a>
        </nav>
        </div>
    </div>
    <div class="text-center bg-black text-white pt-8">
        <p class="mb-0 opacity-80 text-sm pb-1p">Copyright 2023</p>
    </div>
  </footer>